In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [108]:
%matplotlib inline

In [109]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)

Question 7: Look at the shape of each DataFrame - how many rows? How many columns?

In [110]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6868 non-null   object
 1   Year             6868 non-null   int64
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 214.8+ KB

6868 Rows, 4 Columns

In [111]:
internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495 entries, 0 to 4494
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4495 non-null   object
 1   Year             4495 non-null   int64
 2   Value            4495 non-null   float64
 3   Value Footnotes  948 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 140.6+ KB

Question 8: Take a look at the datatypes for the columns in each DataFrame.

4495 Rows, 4 columns

In [112]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [113]:
internet_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

Question 9: Take a look at the last 10 rows of each DataFrame in turn.

In [114]:
print(gdp_df.tail(10))
print()
print(internet_df.tail(10))

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

     Country or Area  Year     Value  Value Footnotes
4485        Zimbabwe  2002  3.994356              NaN
4486        Zimbabwe  2001  0.799846              NaN
4487        Zimbabwe  2000  0.401434              NaN
4488        Zimbabwe  1999  0.161676              NaN
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

Question 10: Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [115]:
del(gdp_df['Value Footnotes'])
del(internet_df['Value Footnotes'])

In [116]:
print(gdp_df.tail(10))
print()
print(internet_df.tail(10))

     Country or Area  Year        Value
6858        Zimbabwe  1999  3600.849291
6859        Zimbabwe  1998  3653.920016
6860        Zimbabwe  1997  3580.048793
6861        Zimbabwe  1996  3520.430146
6862        Zimbabwe  1995  3226.413930
6863        Zimbabwe  1994  3263.934978
6864        Zimbabwe  1993  3033.504852
6865        Zimbabwe  1992  3054.889178
6866        Zimbabwe  1991  3426.598094
6867        Zimbabwe  1990  3324.348171

     Country or Area  Year     Value
4485        Zimbabwe  2002  3.994356
4486        Zimbabwe  2001  0.799846
4487        Zimbabwe  2000  0.401434
4488        Zimbabwe  1999  0.161676
4489        Zimbabwe  1998  0.081648
4490        Zimbabwe  1997  0.033080
4491        Zimbabwe  1996  0.016790
4492        Zimbabwe  1995  0.007684
4493        Zimbabwe  1994  0.001739
4494        Zimbabwe  1990  0.000000

Question 11: Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [117]:
gdp_df.columns = ['Country','Year','GDP_Per_Capita']

In [118]:
print(gdp_df.tail(10))

       Country  Year  GDP_Per_Capita
6858  Zimbabwe  1999     3600.849291
6859  Zimbabwe  1998     3653.920016
6860  Zimbabwe  1997     3580.048793
6861  Zimbabwe  1996     3520.430146
6862  Zimbabwe  1995     3226.413930
6863  Zimbabwe  1994     3263.934978
6864  Zimbabwe  1993     3033.504852
6865  Zimbabwe  1992     3054.889178
6866  Zimbabwe  1991     3426.598094
6867  Zimbabwe  1990     3324.348171

Question 12: Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [119]:
internet_df.columns = ['Country','Year','internet_Users_Pct']

In [120]:
print(internet_df.tail(10))

       Country  Year  internet_Users_Pct
4485  Zimbabwe  2002            3.994356
4486  Zimbabwe  2001            0.799846
4487  Zimbabwe  2000            0.401434
4488  Zimbabwe  1999            0.161676
4489  Zimbabwe  1998            0.081648
4490  Zimbabwe  1997            0.033080
4491  Zimbabwe  1996            0.016790
4492  Zimbabwe  1995            0.007684
4493  Zimbabwe  1994            0.001739
4494  Zimbabwe  1990            0.000000

Question 13: Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

In [121]:
gdp_and_internet_use = pd.merge(gdp_df, internet_df, how = 'outer', on = ['Country', 'Year'])

Question 14: Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [122]:
print(gdp_and_internet_use.head())

       Country  Year  GDP_Per_Capita  internet_Users_Pct
0  Afghanistan  2019     2065.036398                 NaN
1  Afghanistan  2018     2033.779002                 NaN
2  Afghanistan  2017     2058.383832                 NaN
3  Afghanistan  2016     2057.062164                 NaN
4  Afghanistan  2015     2068.265904                 NaN

Question 15: Look at the last five rows to make sure the data is clean and as expected.

In [123]:
print(gdp_and_internet_use.tail())

     Country  Year  GDP_Per_Capita  internet_Users_Pct
7900   Yemen  1999             NaN            0.056629
7901   Yemen  1998             NaN            0.023323
7902   Yemen  1997             NaN            0.015025
7903   Yemen  1996             NaN            0.000621
7904   Yemen  1990             NaN            0.000000

Question 16: Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.